# Ignore pycharm settings
.idea/
.venv/

# Ignore the report and intermediate files
report/
germany_tso_zones.json
total_load_ignore.py

# Ignore large raw data folder
data/raw/actual_total_load_ignore/
