# Ignore PyCharm project settings and virtual environment
.idea/
.venv/

# Ignore report and unused intermediate files
report/
germany_tso_zones.json
total_load_ignore.py

# Ignore oversized raw data folder
data/raw/actual_total_load_ignore/